@using Kira
<root class="upgrade-card" id="card-@CardIndex">

    @if (!HasUpgrade) return;

    <div class="card-title">
        @Upgrade.Title
    </div>

    <div class="card-description">
        @Upgrade.Description()
    </div>

    @if (Upgrade.IsIconAsset)
    {
        <div class="card-icon" style="background: url(@UpgradeIcon())" onclick=@OnUpgradeClicked>
        </div>
    }
    else
    {
        <div class="card-icon" onclick=@OnUpgradeClicked>
            <i class="icon">@UpgradeIcon()</i>
        </div>
    }
</root>

@code
{
    private string UpgradeIcon()
    {
        return Upgrade.Icon;
    }

    public void OnUpgradeClicked()
    {
        UpgradeModal.OnCardClicked(CardIndex);
    }

    public int CardIndex { get; set; }

    private bool HasUpgrade => Upgrade is not null;
    public UpgradeInstance Upgrade { get; set; }
    public UpgradeModalUI UpgradeModal { get; set; }
}