@using Kira
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="stats-display">
        <div class="display-li">
            @($"Base Speed: {BaseMoveSpeed:F0}")
        </div>
        <div class="display-li">
            @($"Current Speed: {CurMoveSpeed:F1}")
        </div>
    </div>
    <div class="mob-display">
        <div class="display-li">
            @($"Mobs Alive: {MobsAlive}")
        </div>
        <div class="display-li">
            @($"Total Mobs: {TotalMobsSpawned}")
        </div>
    </div>
</root>

@code
{
    [Property]
    private MobSpawner Spawner { get; set; }
    [Property]
    private PlayerStats Stats { get; set; }

    private int MobsAlive => Spawner.CurEnemiesAlive;
    private int TotalMobsSpawned => Spawner.TotalEnemiesSpawned;
    private float CurMoveSpeed => Stats.MoveStat.Value;
    private float BaseMoveSpeed => Stats.MoveStat.BaseValue;

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(MobsAlive, TotalMobsSpawned, Stats.MoveStat.IsDirty);
}