AbilitiesUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  .hotbar {
    width: 600px;
    height: 140px;
    opacity: 0.8;

    position: absolute;
    bottom: 20px;

    background-color: #444;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    justify-content: space-evenly;
  }

  AbilitySlot {
    background-color: #222;
    padding: 10px 10px;
    width: 25%;
    border-radius: 10px;
    color: white;

    justify-content: center;
    display: flex;
    flex-direction: column;

    .slot-text {
      height: 20%;
      position: absolute;
      bottom: 5px;
      width: 100%;
      font-size: 2vh;
      justify-content: center;
    }

    .slot-cooldown {
      background-color: yellow;
      width: 100%;
      position: absolute;
      opacity: 0.5;
      border-radius: 10px;
    }

    .slot-icon {
      font-size: 5vh;
      align-self: center;
      height: 75%;
      //background-repeat: no-repeat;
      //background-size: contain;
    }
  }
}