@using Sandbox;
@using Sandbox.UI;
@using Kira;

<root class="slot" id="slot-@SlotIndex">
    @* <div class="slot-cooldown" style="height:@GetCooldown()"> *@
    @* </div> *@

    @if (HasAbility)
    {
        @* <div class="slot-icon" style="background: url(@SlotIcon())"> *@
        @* </div> *@
        <i class="slot-icon">@SlotIcon()</i>
    }

    <div class="slot-text">
        @SlotText()
    </div>
</root>

@code
{
    private string SlotText()
    {
        if (!HasAbility) return "";
        return $"{Ability.AmmoCount} / {Ability.MagazineCapacity}";
    }

    private string SlotIcon()
    {
        return Ability.Icon;
    }

    private string GetCooldown()
    {
        if (!HasAbility) return "0px";
        var timeLeft = Ability.CooldownTimeUntil.Relative;
        Log.Info(timeLeft);
        return $"{timeLeft * 100}%";
    }

    private bool HasAbility => Ability is not null;
    public IAbility Ability { get; set; }
    public int SlotIndex { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(Ability?.AmmoCount);
}